.advantages {
  margin-top: 40px;

  &__item {
    margin-top: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: center;

    @media @view-desktop {
      margin-top: 70px;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;

    @media @view-desktop {
      width: 100px;
      height: 100px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;

    @media @view-desktop {
      font-size: 20px;
    }
  }

  &__txt {
    font-size: 14px;

    @media @view-desktop {
      font-size: 16px;
    }
  }
}