.contacts {
  
  h2 {
    text-align: left;
    margin-bottom: 40px;
  }

  &__box {
    border-radius: 20px;
    box-shadow: 2px 2px 40px 0 rgba(0, 0, 0, 0.1);
    background-color: @white;
    display: flex;
    flex-direction: row;
  }

  &__info {
    padding: 40px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }

  &__icon {
    width: 40px;
    height: 25px;
    flex-shrink: 0;
    margin-top: 5px;
    margin-right: 10px;
    background: @gray-light;
  }


  &__text {
    font-size: 20px;
    font-weight: 500;
  }

  .map {
    width: 70%;
    background: @gray-text;
  }
}