.header {
  position: absolute;
  height: 230px;
  width: 100%;
  background: transparent;

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    color: @gray-text;
  }

  &-logo {
    height: 130px;
    width: 80px;
  }

}