.toggler {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  flex-direction: row;

  &__tab {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: @gray-text;
    text-align: center;
    background-color: transparent;
    transition: background-color .3s ease-in-out;
    font-size: 12px;

    @media @view-tablet {
      font-size: 14px;
    }

    @media @view-desktop {
      font-size: 16px;
    }

    &.active {
      background-color: @gray;
    }

    &:first-child {
      border-radius: 20px 0 0 0;
    }

    &:last-child {
      border-radius: 0 20px 0 0;
    }

    &:hover {
      text-decoration: none;
      color: @gray-text;
    }

    &:not(.active):hover {
      background-color: rgba(41, 41, 41, 0.8);
      cursor: pointer;
    }
  }
}